@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer base {
  :root {
    --primary-gray-100: #1a1a1a;
    --primary-gray-200: #252525;
    --primary-gray-300: 126 126 125;
    --white: #ffffff;
    --black: #000000;

    --text-black: #111315;
    --text-white: var(--white);
    --gray: #6f767e;

    --brand-orange: #ffab40;
    --brand-orange-lighten-20: #febd66;
    --brand-orange-foreground: var(--text-black);

    --surface-level-1: #111315;
    --surface-level-2: #1a1d1f;
    --surface-level-3: #272b30;
    --surface-level-4: #313639;
    --surface-level-4-lighten-20: #5a5e60;

    --swap-settings: 26 26 26;
    --surface-border: 243 243 241;

    --background: var(--surface-level-1);
    --foreground: var(--white);

    --card: var(--primary-gray-200);
    --card-foreground: var(--white);

    --popover: var(--surface-level-4);
    --popover-foreground: var(--white);

    --primary: var(--black);
    --primary-foreground: var(--white);

    --secondary: var(--white);
    --secondary-foreground: var(--black);

    --muted: var(--primary-gray-300);
    --muted-foreground: var(--white);

    --accent: var(--white);
    --accent-foreground: var(--black);

    --destructive: #bd5858;
    --destructive-foreground: var(--white);

    --notification-error: 189 88 88;
    --notification-success: 89 154 112;

    --border: var(--primary-gray-200);
    --input: var(--primary-gray-300);

    --ring: var(--white);

    --radius-sm: 0.125rem;
    --radius-md: 0.75rem;
    --radius-lg: 1.25rem;

    --modal: var(--surface-level-2);

    font-size: 16px;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  @apply flex-1;
}

html,
body {
  @apply flex flex-col;
  min-height: 100%;
}

.progress-ring__circle {
  transform: rotate(90deg) scaleX(-1);
  transform-origin: 50% 50%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
